# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Runtime files
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# Optional uploads folder
uploads/

# Editor folders
.vscode/
.idea/